<h3>Welcome to Sinatra!</h3>
<form action="/submit" method="POST">
  <input type="text" name="user[name]" placeholder="Enter User Name" 
    value="<%=@user.name if !@user.nil? %>"/>
  <input type="submit" value="Create" />
</form>